/*Oculta por padrao os botoes editar e excluir dos datagrids*/
.MuiDataGrid-row button {
  visibility: hidden;
}

/* Reexibe os botoes do datagrid caso o mouse esteja sob a linha */
.MuiDataGrid-row:hover button {
  visibility: visible;
}

.form-fields form{
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields .MuiFormControl-root{
  min-width: 250px;
  max-width: 500px;
  width: 500px;
  margin-bottom: 36px;
}